body {
    margin: 0 auto 0 auto;
    padding: 0;
    max-width: 1200px;
    font-family: "Avenir", "Avenir Next", Helvetica Neue, Arial;
    font-size: 0.95em;
}
a, a:visited { text-decoration: none; color: #7533f4; }
a:hover { text-decoration: underline; color: #f4b014; }
h1, h2, h3, h4, h5 {
    color: #492a7c;
    background-color: inherit;
    font-weight: normal;
    padding: 0 0 5px 0;
    margin: 15px 0 0 0;
    border: none;
    clear: right;
}
h1 { font-size: 24pt; margin:  5px 0 10px 0; line-height: 28px; }
h2 { font-size: 14pt; margin: 30px 0 15px 0; letter-spacing: 0.01em; border-bottom: 1px solid #ccc;  line-height: 20px;}
h3 { font-size: 13pt; }
h4 { font-size: 12pt; }
h5 { font-size: 11pt; }
p { margin: 0 0 10px 0; }
.content {
    margin: 0;
    padding: 15px 20px;
    background-color: #ffffff;
}
.title, .title h1, .title a {
    color: #492a7c;
    font-size: 24pt;
    margin-bottom: 20px;
    margin-top: 5px;
}
.footer {
    border-top: 1px solid #ccc;
    margin-top: 30px;
    padding-top: 4px;
    text-align: right;
    font-size: 12px;
}
.footer a {
    color: #21346B;
}
.footer a:hover {
    color: #ce3333;
}
.e {
    fill: rgb(255, 0, 0);
    cursor: move;
}
.w {
    fill: rgb(0, 255, 0);
    cursor: move;
}
.extent {
    opacity: .60;
    cursor: hand;
}
.positiveText {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.negativeText {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.zeroText {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.infText {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.modeSelectText{
    cursor: hand;
}
.scaleSelectText{
    cursor: hand;
}

.visualization {
    position: relative;
}

.scaleSelection {
    position: absolute;
    width: 200px;
    height: 30px;
    top: 420px;
    left: 450px;
}

.formatSelection {
    position: absolute;
    width: 200px;
    height: 30px;
    top: 390px;
    left: 450px;
}
.positiveHistogramBar {
    opacity: 0.6
}
.negativeHistogramBar {
    opacity: 0.6
}
